.checkout {
    display: flex;  
    padding: 20px;
    background-color: white; 
    height: max-content;     
}
.checkout__left {
    flex: 0.7; 
}
.checkout__right {
    flex: 0.3; 
}
.checkout__ad {
    min-width: 100%; 
    max-height: 120px;
    margin-bottom: 10px; 
} 